@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn{
      text-transform: none;
    }
  }

@layer utilities {

	 /* Hide scrollbar for Chrome, Safari and Opera */
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .scrollbar::-webkit-scrollbar {
      display: block;
    }

    .scorllbar {
      -ms-overflow-style: auto;
      scrollbar-width: auto;
    }
    .preview td{
      border: 1px solid;
      text-align: center;
      padding: 0.25em;
    }

    .preview table {
      margin: 0.25em;
    }

    .preview {
      line-height: 1.6em;
      padding: 0.25em;
    }

    .preview p {
      margin-bottom: 1em;
    }

    .preview img {
      display: inline-block;
      
    }

    .preview h1 {
      font-weight: bold;
      margin-top: 0.40em;
      margin-bottom: 0.40em;
      font-size: 2em;
    }

    .preview h2 {
      font-weight: bold;
      margin-top: 0.40em;
      margin-bottom: 0.40em;
      font-size: 1.75em;
    }
    .preview h3 {
      font-weight: bold;
      margin-top: 0.40em;
      margin-bottom: 0.40em;
      font-size: 1.55em;
    }
    .preview h4 {
      font-weight: bold;
      margin-top: 0.40em;
      margin-bottom: 0.40em;
      font-size: 1.40em;
    }


}

.nav {
    padding: 1em;
    margin: 0;
   }
 
   :root {
    --primary: #436acd;
  }

  .ProseMirror [data-placeholder]::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
    }

