@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn{
      text-transform: none;
    }
  }

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .scrollbar::-webkit-scrollbar {
      display: block;
    }

    .scorllbar {
      -ms-overflow-style: auto;
      scrollbar-width: auto;
    }
}

.nav {
    padding: 1em;
    margin: 0;
   }
 
   :root {
    --primary: #436acd;
  }

